@layer app;

@layer app {
    @keyframes slide-in {
        from {
            scale: .85;
            rotate: calc((var(--side, 1) * (5deg * var(--amp, 1))));
        }
        to {
            scale: 1;
            rotate: 0;
        }
    }
    
    // .card-animation-layer 
    :host {
        @media (prefers-reduced-motion: no-preference) {
            @supports (animation-timeline: view()) {
                animation: slide-in linear both;
                animation-timeline: view();
                animation-range: cover 0% contain 15%;
            }
        }

        // dialog
        // - - - - - - - - - - - - - - - - 

        dialog {
            position: fixed;
            place-self: center;
            min-width: 70svw;
            min-height: 60svh;
            display: none;
            opacity: 0;
            transition-property: display opacity;
            transition-duration: .5s;
            transition-behavior: allow-discrete;
        }
        dialog[open] {
            display: block;
            opacity: 1;
            @starting-style {
                opacity: 0;
            }
        }
        dialog[open]::backdrop {
            display: none;
        }
    }
}

.card {
    background: var(--surface-2);
    border: 1px solid color-mix(in srgb, var(--surface-4), #0000 50%);
    padding-block: var(--size-3) var(--size-2);
    padding-inline: var(--size-3);
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-4);

    &.landscape img { aspect-ratio: var(--ratio-landscape) }
    &.portrait img { aspect-ratio: var(--ratio-portrait) }
    &.square img { aspect-ratio: var(--ratio-square) }

    & > p {
        color: var(--text-2);
        line-clamp: 2;
    }

    & > :is(a, p) {
        font-size: var(--font-size-1);
        line-height: 1.25;
    }

    img {
        background-color: var(--surface-3);
        border-radius: var(--radius-3);
        margin-block-end: var(--size-2);
    }

    @media (prefers-color-scheme: light) {
        background: white;
    }
}